.bg2::after {
  background-image: url('../images/costa-screen2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
}

.hr-breaker-light {
  position: absolute;
  left: 14%;
  width: 0px;
  height: 100vh;
  border: 1px solid #FFFFFF;
  opacity: 0.3;
  margin: 0;
}

.slide-number {
  font-size: 9rem;
  opacity: .3;
  color: #A7A7A7;
  letter-spacing: 0.01rem;
  margin-left: -20px;
}

.blured-circle {
  background-color: #000000;
  height: 650px;
  width: 650px;
  filter: blur(210px);
  opacity: 1;
  border-radius: 50%;
  position: absolute;
  top:0px; right:0px; bottom:0px; left:0px;
}

.white-text {
  color: #FFFFFF;
  z-index: 2;
  float: right;
}

.screen2-text{
  position: absolute;
}

.screen2-logo-container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 40px;
}

.row-top {
  margin-top:160px;
}