.bg1 {
  background-image: url('../images/snake_logo.svg');
  background-position: center;
  background-position-y: 30%;
  background-size: 436px 622px;
  background-repeat: no-repeat;
  background-color: #EEEEEE;
}

.phoneRow {
  display: flex;
  flex-direction: row-reverse;
}

.phoneNum {
  margin-top: 65px;
  margin-bottom: 23px;
  opacity: 0.3;
  font-size: 1.6rem;
}

.costa {
  margin-top: 21px;
  width: 505px;
  height: 607px;
  position: absolute;
  left: -50px;
  z-index: 1;
}

.hr-breaker {
  position: absolute;
  left: 14%;
  width: 0px;
  height: 99.7vh;
  border: 1px solid #000000;
  opacity: 0.1;
  margin: 0;
}

.title {
  margin: 80px 0 0 30px;
}

.card {
  background: none;
  border: 5px solid #BD5D69;
  opacity: 0.67;
  border-radius: 26%;
  width: 144px;
  margin-left: 28px;
}

.card-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0px 9px;
}

.circle {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 12px;
  border: 5px solid #BD5D69;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.card-text {
  text-align: center;
  color: #BD5D69;
  font-weight: bold;
  margin-top: 3px;
  padding-bottom: 13px;
}

.card-title {
  margin-top: -5px;
  margin-bottom: -15px;
  color: #BD5D69;  
}

.dots {
  width: 100%;
}

.dots p {
  overflow: hidden;
  color: #BD5D69;
  font-size: 6rem;
  letter-spacing: -4px;
  height: 40px;
  margin-top: -30px;
  margin-bottom: 0px;
}

.maroon {
  color: #BD5D69;
}