html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Montserrat", "Roboto", sans-serif;
  color: #3c3c3b;
  background-color: #eeeeee;
}

a {
  color: #3c3c3b;
  font-size: 1.7rem;
}

a:hover {
  text-decoration: none;
  color: #3c3c3b;
}

h1 {
  font-weight: bolder;
  font-size: 4.6rem;
  line-height: 100%;
  letter-spacing: -0.04rem;
  margin-bottom: 18px;
}

h2 {
  font-weight: bold;
  font-size: 4.2rem;
  margin-bottom: 15px;
  color: #3c3c3b;
}

h3 {
  font-size: 1.7rem;
  font-weight: bold;
}

p {
  font-size: 1.6rem;
  line-height: 24px;
}

.align-right {
  text-align: right;
}

/* SM */
@media (min-width: 576px) {
}

/* MD */
@media (min-width: 768px) {
  h1 {
    font-size: 6.2rem;
    line-height: 95%;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 4.8rem;
    margin-bottom: 30px;
  }
}

/* LG */
@media (min-width: 992px) {
  h1 {
    font-size: 6.8rem;
    line-height: 95%;
    margin-bottom: 30px;
  }

  h2 {
    margin-bottom: 45px;
  }
}

/* XL */
@media (min-width: 1200px) {
}
