.bg4 {
  background-color: #eeeeee;
  background-image: url("../images/costa-screen4.jpg");
  background-position: left bottom;
  background-position-x: 35%;
  background-repeat: no-repeat;
  height: 100vh;
}

/* MD */
@media (min-width: 768px) {
  .bg4 {
    background-color: #eeeeee;
    background-image: url("../images/costa-screen4.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    height: 100vh;
  }
}
