.navbar {
  padding-top: 40px;
  z-index: 1;
  margin: 0px auto;
  display: block;
}

.navbar-toggler {
  height: 35px;
  width: 40px;
  opacity: 0.3;
  border: 1px solid #3C3C3B;
  background-image: url('../images/toggler-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% 75%;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  display: block;
  margin-top: 4px;
  background-color: #EEEEEE;
  border-radius: 6px;
  padding: 10px 10px 2px 5px;
}

.nav-link {
  color: #3C3C3B;
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.phoneNum {
  border: none;
  opacity: 0.3;
  font-size: 1.6rem;
  background: none;
}

.phoneNum:focus {
  outline: none;
}

.allways-dark {
  color: #3C3C3B !important;
}

/* SM */
@media (min-width: 576px) { 
  .navbar {
    max-width: 540px;
  }

  .navbar-brand {
    margin: 8px 0 0 0;
  }

  .phoneNum {
    margin-top: 7px;
  }

}

/* MD */
@media (min-width: 768px) {
  .navbar {
    padding-top: 0px;
    display: block;
    max-width: 720px;
  }

  .navbar-brand {
    margin: 84px 0 103px 0;
    padding: 0;
  }

  .navbar-nav {
    margin-top: 0px;
    background: none;
    border-radius: none;
    padding: 0;
  }

  .nav-link {
    margin-bottom: 15px;
  }

  .phoneNum {
    margin-top: 65px;
    margin-bottom: 23px;
  }
}

/* LG */
@media (min-width: 992px) { 
  .navbar {
    max-width: 960px;
  }

}

/* XL */
@media (min-width: 1200px) { 
  .navbar {
    max-width: 1140px;
  }

}