.navbar {
  padding-top: 40px;
  z-index: 1;
  margin: 0px auto;
  display: block;
}

.navbar-toggler {
  height: 35px;
  width: 40px;
  opacity: 0.3;
  border: 1px solid #3c3c3b;
  background-image: url("../images/toggler-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% 75%;

  position: absolute;
  right: 15px;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  transition: 1s ease-out;
}

.sub24-7 {
  margin-left: 6px;
  font-weight: bold;
  transition: 1s ease-out;
}

.slogan {
  font-size: 1.2rem;
  color: #bd5d69;
  opacity: 0.4;
  width: 180px;
  overflow: hidden;
  padding: 3px 18px;
  background-color: #eeeeee;
  border-radius: 3px;
}

.navbar-brand:hover {
  cursor: pointer;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 4px;
  background-color: #eeeeee;
  border-radius: 6px;
  padding: 20px 20px;
}

.nav-link {
  color: #3c3c3b;
  font-size: 1.7rem;
  margin-bottom: 10px;
  text-align: right;
  transition: 1s ease-out;
}

.sub-nav-link {
  font-size: 1.4rem;
  margin-top: 8px;
}

.phoneNum {
  border: none;
  opacity: 0.5;
  font-size: 1.8rem;
  background: none;
  z-index: 500;
  position: relative;
}

.phoneNum:focus {
  outline: none;
}

.allways-dark {
  color: #3c3c3b !important;
}

/* SM */
@media (min-width: 576px) {
  .navbar {
    max-width: 540px;
  }

  .navbar-brand {
    margin: 8px 0 0 0;
  }

  .phoneNum {
    margin-top: 7px;
  }
}

/* MD */
@media (min-width: 768px) {
  .navbar {
    padding-top: 0px;
    display: block;
    max-width: 5px;
  }

  .navbar-brand {
    margin: 84px 0 103px -350px;
    padding: 0;
  }

  .navbar-nav {
    margin-top: 0px;
    margin-left: -350px;
    background: none;
    border-radius: none;
    flex-direction: column !important;
    align-items: flex-start;
    padding: 0;
  }

  .nav-link {
    margin-bottom: 15px;
    text-align: left;
  }

  .phoneNum {
    margin-top: 65px;
    margin-bottom: 23px;
  }
}

/* LG */
@media (min-width: 992px) {
  .navbar-brand {
    margin-left: -470px;
  }

  .navbar-nav {
    margin-left: -470px;
  }
}

/* XL */
@media (min-width: 1200px) {
  .navbar-brand {
    margin-left: -560px;
  }

  .navbar-nav {
    margin-left: -560px;
  }
}
