.screen4-wrapper {
  background-color: #eeeeee;
  background-image: url("../images/costa-screen4.jpg");
  background-position: left bottom;
  background-position-x: 35%;
  background-repeat: no-repeat;
}

.familyLogo {
  display: block;
  width: 150px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.row-top-contacts {
  margin-top: 25vh;
}

.btn-contact {
  margin-top: 10px;
  padding-top: 7px;
  padding-bottom: 5px;
  width: 100%;
  font-size: 1.6rem;
  display: block;
}

.qr-code {
  width: 80px;
  display: block;
  margin-top: 10px;
}

/* SM */
@media (min-width: 576px) {
  .btn-contact {
    width: 50%;
  }

  .row-top-contacts {
    margin-top: 130px;
  }

  .familyLogo {
    margin-top: 70px;
  }
}

/* MD */
@media (min-width: 768px) {
  .screen4-wrapper {
    background-position-x: 0;
  }

  .row-top-contacts {
    margin-top: 160px;
  }

  .familyLogo {
    width: 150px;
    margin-left: 30px;
    margin-top: 0px;
  }

  .btn-contact {
    width: 100%;
  }
}

/* LG */
@media (min-width: 992px) {
  .familyLogo {
    margin-left: 0px;
    width: 200px;
  }
}

/* XL */
@media (min-width: 1200px) {
  .familyLogo {
    margin-left: auto;
    margin-right: 0px;
  }
}
