.hr-breaker {
  position: absolute;
  top: 0;
  left: 30%;
  width: 1px;
  height: 100%;
  background-color: #000000;
  opacity: 0.2;
  margin: 0;
}

.hr-breaker-light {
  position: absolute;
  left: 14%;
  width: 0px;
  height: 100vh;
  border: 1px solid #ffffff;
  opacity: 0.3;
  margin: 0;
}

.icon {
  width: 30px;
  margin-right: 28px;
  mix-blend-mode: luminosity;
}

/* SM */
@media (min-width: 576px) {
}

/* MD */
@media (min-width: 768px) {
}

/* LG */
@media (min-width: 992px) {
}

/* XL */
@media (min-width: 1200px) {
}
