.white-text {
  color: #ffffff;
}

.row-top {
  margin-top: 15vh;
}

.card-accordion {
  background: none;
  border: none;
}

.card-accordion .card-header {
  background: none;
  border: none;
}

.card-accordion h3 {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4rem;
}

.card-accordion h3:active {
  text-decoration: none;
}

.card-accordion h3:hover {
  text-decoration: none;
  cursor: pointer;
}

.card-accordion .card-body {
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 14px;
}

.card-accordion p {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.card-accordion p {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.screen2-note {
  /* position: absolute; */
  bottom: 10px;
  right: 0;
  padding: 10px;
  max-width: 300px;
  color: #ffffff;
  opacity: 0.7;
}

/* SM */
@media (min-width: 576px) {
  .row-top {
    margin-top: 130px;
  }
}

/* MD */
@media (min-width: 768px) {
  .row-top {
    margin-top: 160px;
  }
}

/* LG */
@media (min-width: 992px) {
}

/* XL */
@media (min-width: 1200px) {
  .card-accordion h3 {
    font-size: 1.7rem;
  }

  .card-accordion p {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
