.screen1-wrapper {
  background-image: url("../images/snake_logo.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #eeeeee;
  position: relative;
}

.screen1-contacts {
  padding-top: 60px;
}

.screen1-contacts a {
  opacity: 0.5;
  font-size: 1.8rem;
}

.screen1-content {
  padding-top: 40vh;
}

.screen1-tags {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 36px;
}

.card-tag {
  background-color: #eeeeee;
  border: 3px solid #bd5d69;
  border-radius: 30px;
  height: 115px;
  width: 110px;
  opacity: 0.67;
  overflow: hidden;
  margin-top: 12px;
}

.card-tag-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: center;
  color: #bd5d69;
  font-weight: bold;
}

.card-o {
  font-size: 1.7rem;
  margin-bottom: 0px;
}

.card-p {
  font-size: 1.3rem;
  line-height: 1.4rem;
  margin-bottom: 12px;
}

.card-tag-body h2 {
  color: #bd5d69;
  font-size: 2.2rem;
  margin-bottom: -3px;
}

.dots {
  width: 100%;
  height: 30px;
  overflow: hidden;
  font-size: 2rem;
  margin-top: -20px;
  margin-bottom: -8px;
}

/* SM */
@media (min-width: 576px) {
  .screen1-wrapper {
    background-size: auto;
  }
}

/* MD */
@media (min-width: 768px) {
  .screen1-content {
    padding-top: 36px;
    display: flex;
    flex-direction: column-reverse;
  }

  .screen1-tags {
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 16px;
    margin-bottom: 70px;
  }

  .screen1-title-container {
    padding-left: 31%;
    margin-bottom: 36px;
  }
}

/* LG */
@media (min-width: 992px) {
}

/* XL */
@media (min-width: 1200px) {
}
