.slide-number {
  font-size: 9rem;
  opacity: .3;
  color: #A7A7A7;
  letter-spacing: 0.01rem;
  margin-left: -20px;
}

.hr-breaker {
  position: absolute;
  left: 14%;
  width: 0px;
  height: 99.7vh;
  border: 1px solid #000000;
  opacity: 0.1;
  margin: 0;
}

.hr-breaker-light {
  position: absolute;
  left: 14%;
  width: 0px;
  height: 100vh;
  border: 1px solid #FFFFFF;
  opacity: 0.3;
  margin: 0;
}

.icon {
  width: 30px;
  margin-right: 28px;
  mix-blend-mode: luminosity;
}

/* SM */
@media (min-width: 576px) {


}

/* MD */
@media (min-width: 768px) {

}

/* LG */
@media (min-width: 992px) { 

}

/* XL */
@media (min-width: 1200px) { 

}