.white-text {
  color: #FFFFFF;
}

.row-top {
  margin-top:7vh;
}


.card-accordion {
  background: none;
  border: none;
}

.card-accordion .card-header {
  background: none;
  border: none;
}

.card-accordion h3 {
  color: #FFFFFF;
  text-decoration: none;
}

.card-accordion h3:active {
  text-decoration: none;
}

.card-accordion h3:hover {
  text-decoration: none;
  cursor: pointer;
}

.card-accordion .card-body {
  backdrop-filter: blur(3px);
  background-color:rgba(0,0,0,0.3);
  border-radius: 14px;
}

.card-accordion p {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

/* SM */
@media (min-width: 576px) { 
  .card-accordion p {
    font-size: 1.6rem;
    line-height: 20px;
  }

  .row-top {
    margin-top:130px;
  }
}

/* MD */
@media (min-width: 768px) {
  .row-top {
    margin-top:160px;
  }

}

/* LG */
@media (min-width: 992px) { 

}

/* XL */
@media (min-width: 1200px) { 

}